{# sddample twig template #}
{% extends 'base.html.twig' %}

{% block body %}
<h1  class="text-4xl">
    Starshop: your monopoly-busting option for Starship parts!
</h1>
<div>
    Browse through  {{ numberOfStarships }}  starships!
</div>
{%  endblock %}